body {
  background-color: #ffffff;
  height:100%;
  overflow: hidden;
}

.ball {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #FFE600;
}

.animacion-x {
  /* name , duration, timing function, delay, iteration count, direction  */
  animation: animacion-x 3.14s cubic-bezier(0.45,0.05,0.55,0.95) 0s infinite alternate;
}

.animacion-y {
  /* name , duration, timing function, delay, iteration count, direction  */
  animation: animacion-y 1.03s cubic-bezier(0.47,0,0.75,0.72) 0s infinite alternate;
}

@keyframes animacion-x {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(100vw - 10vmin));
  }
}

@keyframes animacion-y {
  0% {
    transform: translateY(0px);
  }
  96%{
    height: 70px;
  }
  98% {
    height: 60px;
    transform: translateY(calc(100vh - 20vmin));
  }
  100% {
    height: 40px;
    transform: translateY(calc(100vh - 10vmin));
  }
}
