* {
  box-sizing: border-box;
  --bezier: cubic-bezier(0.55,0.06,0.68,1);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  color: #ffffff;
}

.stripes-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: 1fr;

  height: 100vh;
  width:100%;
  overflow: hidden;
}

.stripe {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.stripe-text {
  display:flex;
  align-items: center;
  justify-content: center;
  animation-fill-mode: forwards;
  width:70%;
  height:100%;
  z-index: 5;
}

.stripes-container .stripe-text:hover::before {
  transform: skew(0deg) scale(2) translate(0,0);
  opacity: 0.1;
}

.stripe-text::before {
  content: " ";
  position: absolute;
  width:70%;
  height:100%;
  background: white;
  opacity: 0.1;
  transform-origin: center center;
  transform: skew(30deg) scaleY(1) translate(0,0);
  transition: 0.5s;
  z-index: 1;
}

.stripe:nth-child(1) {
  background: #244F75;
  animation: fromLeft 0.7s var(--bezier) ;
}

.stripe:nth-child(2) {
  background: #60BFBF;
  animation: fromBottom 0.8s var(--bezier) 0.01s ;

}

.stripe:nth-child(3) {
  background: #8C4B7E;
  animation: fromTop 0.9s var(--bezier) 0.01s ;

}

.stripe:nth-child(4) {
  background: #F8BB44;
  animation: fromBottom 1s var(--bezier) 0.02s ;

}

.stripe:nth-child(5) {
  background: #F24B4B;
  animation: fromRight 1.1s var(--bezier) 0.02s;

}


@keyframes fromTop {
0% {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0,-100%, 0); }
100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
}

@keyframes fromBottom {
0% {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);}
100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
}

@keyframes fromRight {
0% {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);}
100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
}

@keyframes fromLeft {
0% {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }
100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
}
